# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.dev.vars

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
/.vs/PresshausgewoelbeWebsite/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.wrangler/tmp/bundle-eVTRNO/middleware-insertion-facade.js
/.wrangler/tmp/bundle-eVTRNO/middleware-loader.entry.ts
/.wrangler/tmp/dev-Qr6uZs/pages-shim.js
/.wrangler/tmp/dev-Qr6uZs/pages-shim.js.map
/.wrangler/tmp/dev-dV1XdJ/pages-shim.js
/.wrangler/tmp/dev-dV1XdJ/pages-shim.js.map
/.wrangler/tmp/bundle-XLKsui/middleware-insertion-facade.js
/.wrangler/tmp/bundle-XLKsui/middleware-loader.entry.ts
/.wrangler/tmp/dev-n3ZbmK/pages-shim.js
/.wrangler/tmp/dev-n3ZbmK/pages-shim.js.map
/.wrangler/tmp/bundle-nrAFxJ/middleware-insertion-facade.js
/.wrangler/tmp/bundle-nrAFxJ/middleware-loader.entry.ts
